[Unit]
Description=One-KVM - Web terminal (ttyd)
After=network.target

[Service]
User=kvmd-webterm
Group=kvmd-webterm
WorkingDirectory=/home/kvmd-webterm
Restart=always
RestartSec=1

# Crutch for UNIX socket perms
UMask=0117

EnvironmentFile=-/etc/conf.d/kvmd-webterm
ExecStart=/usr/bin/ttyd \
		-W \
		--interface=/run/kvmd/ttyd.sock \
		--port=0 \
		$KVMD_WEBTERM_ARGS \
	/bin/bash -c 'echo -ne "\033]0;One-KVM Terminal: `hostname -f` (ttyd)\007"; bash /etc/kvmd/armbain-motd; export TERM=linux; umask 0022; bash'

[Install]
WantedBy=multi-user.target
