[Unit]
Description=Pi-KVM - The main daemon
After=network.target network-online.target nss-lookup.target

[Service]
User=kvmd
Group=kvmd
Type=simple
Restart=always
RestartSec=3

ExecStart=/usr/bin/kvmd
ExecStopPost=/usr/bin/kvmd-cleanup
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
