[Unit]
Description=Pi-KVM - Janus WebRTC Gateway (stub)
After=network.target network-online.target nss-lookup.target kvmd.service

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/bin/true
RemainAfterExit=true
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
