[Unit]
Description=PiKVM - HTTP entrypoint
After=network.target network-online.target nss-lookup.target kvmd.service

[Service]
Type=forking
PIDFile=/run/kvmd/nginx.pid
PrivateDevices=yes
SyslogLevel=err
Restart=always
RestartSec=3

ExecStartPre=/usr/bin/kvmd-nginx-mkconf /etc/kvmd/nginx/nginx.conf.mako /run/kvmd/nginx.conf
ExecStart=/usr/sbin/nginx -p /etc/kvmd/nginx -c /run/kvmd/nginx.conf -g 'pid /run/kvmd/nginx.pid; user kvmd-nginx; error_log stderr;'
ExecReload=/usr/sbin/nginx -s reload -p /etc/kvmd/nginx -c /run/kvmd/nginx.conf -g 'pid /run/kvmd/nginx.pid; user kvmd-nginx; error_log stderr;'
KillSignal=SIGQUIT
KillMode=mixed
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
