[Unit]
Description=PiKVM - OTG setup
After=systemd-modules-load.service
Before=kvmd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/kvmd-otg start
ExecStop=/usr/bin/kvmd-otg stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
