/pkg/
/src/
/site/
/build/
/dist/
/kvmd.egg-info/
/testenv/run/
/testenv/.tox/
/testenv/.mypy_cache/
/testenv/.ssl/
/hid/.pio/
/hid/.platformio/
/.git/
/v*.tar.gz
/*.pkg.tar.xz
/*.pkg.tar.zst
/*.egg-info
/*kvmd-*.tar.gz
