/hid/.platformio/
/hid/.pio/
/pkg/
/src/
/site/
/build/
/dist/
/kvmd.egg-info/
/testenv/.tox/
/testenv/.mypy_cache/
/testenv/.coverage
/testenv/run/*.sock
/testenv/run/*.pid
/testenv/.ssl/
/v*.tar.gz
/*.pkg.tar.xz
/*.pkg.tar.zst
/*.egg-info
/*kvmd-*.tar.gz
*.pyc
*.swp
/venv/
