pkgbase = kvmd
	pkgdesc = The main Pi-KVM daemon
	pkgver = 0.131
	pkgrel = 1
	url = https://github.com/pi-kvm/kvmd
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python
	depends = python-yaml
	depends = python-aiohttp
	depends = python-aiofiles
	depends = python-passlib
	depends = python-pyudev
	depends = python-raspberry-gpio
	depends = python-pyserial
	depends = python-setproctitle
	depends = python-systemd
	depends = python-dbus
	depends = python-pygments
	depends = v4l-utils
	depends = nginx-mainline
	depends = openssl
	optdepends = dkms
	optdepends = tc358743-dkms
	source = https://github.com/pi-kvm/kvmd/archive/v0.131.tar.gz
	md5sums = SKIP

pkgname = kvmd
	install = kvmd.install

pkgname = kvmd-platform-v1-vga-rpi2
	pkgdesc = Pi-KVM platform configs - v1-vga for rpi2

pkgname = kvmd-platform-v1-vga-rpi3
	pkgdesc = Pi-KVM platform configs - v1-vga for rpi3

pkgname = kvmd-platform-v1-hdmi-rpi2
	pkgdesc = Pi-KVM platform configs - v1-hdmi for rpi2

pkgname = kvmd-platform-v1-hdmi-rpi3
	pkgdesc = Pi-KVM platform configs - v1-hdmi for rpi3

