/* Here you can customize the Web UI */
div.stream-box-mouse-dot {              /* required for kvmd 3.305+ */
        cursor: crosshair !important;   /* crosshair instead of blue blob */
}
div.stream-box-mouse-enabled {
        cursor: crosshair !important;   /* crosshair instead of blue blob */
}
div.window.window-full-tab {
        border: 0px !important;         /* removes window-full-tab border by adding !important to override priority, the border cause jiggling again due to window-full-tab getting overrided by window-active border styling */
}
div#stream-window.window-active:fullscreen div#stream-box div#stream-fullscreen-active {
        box-shadow: none;               /* removes fullscreen ~2px border */
}
