extends ../base.pug


append vars
	-
		root_prefix = "../"
		title = "PiKVM Login"
		main_js = "login/main"
		css_list.push("window", "modal", "login/login")


block body
	form(action="javascript:void(0)")
		#login-box
			#login
				table
					tr
						td Username:&nbsp;
						td #[input#user-input(type="text" autocapitalize="off")]
					tr
						td Password:&nbsp;
						td #[input#passwd-input(type="password" autocapitalize="off")]
					tr
						td 2FA code:&nbsp;
						td #[input#code-input(type="text" placeholder="if enabled")]
					tr
						td(colspan=2)
							hr
					tr
						td
						td #[button.key#login-button(style="width:100%") Login]

	ul.footer
		li.left
			| This site is actively using JavaScript.#[br]
			| It doesn't contain ads, but is blocked by some ad filters.#[br]
			| Please turn it off to continue and reload the page.
