div#about {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	padding: 5px 5px 5px 5px;
}

div#about td.logo {
	padding-right: 25px;
}

div#about td.title {
	font-size: 1.2em;
}

div#about td.copyright {
	font-size: 0.8em;
}

div#about tr.version {
	font-family: monospace;
}

div#about textarea {
	display: block;
	resize: none;
	width: 100%;
	height: 150px;
	padding: 0;
	color: var(--fg-color-normal);
	background-color: var(--bg-color-menu);
	border: none;
	outline: 0 !important;
	box-sizing: border-box;
	padding: 5px;
	font-family: monospace;
	-webkit-appearance:none;
}
div#about textarea::-moz-placeholder {
	line-height: 150px;
	text-align: center;
}
div#about textarea::-webkit-input-placeholder {
	line-height: 150px;
	text-align: center;
}
