extends ../base.pug

append vars
	- title = "One-KVM Session"
	- main_js = "kvm/main"
	- body_class = "body-no-select"
	- css_list = css_list.concat(["navbar", "window", "modal", "led", "slider", "switch", "radio", "progress", "keypad", "tabs"])
	- css_list = css_list.concat(["kvm/stream", "kvm/hid", "kvm/msd", "kvm/system", "kvm/keyboard", "kvm/about"])

block body
	include navbar.pug
	include windows.pug

	ul(class="navbar-bg-tips")
		li(class="left")
			pre(id="kvmd-meta-tips-left")
		li(class="right")
			pre(id="kvmd-meta-tips-right")

	ul(class="footer")
		li(class="left")
			span(id="kvmd-meta-server-host" title="Server name (see System/About)")
			| &nbsp; | &nbsp;
			span(id="kvmd-version-kvmd" title="KVMD version")
			| &nbsp; | &nbsp;
			span(id="kvmd-version-streamer" title="Streamer version")
		li(class="right")
			a(target="_blank" href="https://github.com/mofeng-git/One-KVM" i18n="index_text_12") One-KVM Project
			| &nbsp; | &nbsp;
			a(target="_blank" href="https://one-kvm.mofeng.run" i18n="index_text_13") One-KVM Documentation
