extends ../base.pug

append vars
	- title = "Pi-KVM Session"
	- main_js = "kvm/main"
	- body_class = "body-no-select"
	- css_list = css_list.concat(["navbar", "window", "modal", "led", "slider", "switch", "progress", "keypad", "tabs"])
	- css_list = css_list.concat(["kvm/stream", "kvm/hid", "kvm/msd", "kvm/keyboard", "kvm/about"])

block body
	include navbar.pug
	include windows.pug
	include footer.pug
