.hidden#hw-health-dropdown
	li.left
		a.menu-button(href="#")
			+navbar_led("hw-health-undervoltage-led", "led-undervoltage", "hidden")
			+navbar_led("hw-health-overheating-led", "led-overheating", "hidden")

		.menu
			+menu_message("warning", "Raspberry Pi's health is at risk")
				| This is not a drill! A red icon indicates a current issue,#[br]
				| a yellow one that was observed since the device booted up
			.hidden#hw-health-message-undervoltage
				hr
				+menu_message("led-undervoltage", "Undervoltage detected", "led-gray")
					| Make sure your power supply and cabling are providing#[br]
					| enough power to the Raspberry Pi (3A minimum)
			.hidden#hw-health-message-overheating
				hr
				+menu_message("led-overheating", "Overheating detected", "led-gray")
					| Frequency capping due to overheating,#[br]
					| please improve cooling of the Raspberry Pi

.hidden#fan-health-dropdown
	li.left
		a.menu-button(href="#")
			+navbar_led("fan-health-led", "led-fan", "hidden")

		.menu
			+menu_message("warning", "Raspberry Pi's health is at risk")
				| This is not a drill! A red icon indicates a current issue,#[br]
				| a yellow one that was observed in the past
			#fan-health-message-fail
				hr
				+menu_message("led-fan", "Fan failed", "led-gray")
					| A fan error occured, please #[a(href=`${root_prefix}api/log?seek=3600&follow=1` target="_blank") check the log]
