li(id="system-dropdown" class="right")
	a(class="menu-button" href="#")
		+navbar_led("link-led", "led-link")
		+navbar_led("stream-led", "led-video")
		+navbar_led("hid-keyboard-led", "led-hid-keyboard")
		+navbar_led("hid-mouse-led", "led-hid-mouse")
		span(i18n="kvm_text3") System
	div(id="system-menu" class="menu")
		table(class="kv")
			tr
				td(class="value" i18n="kvm_text4") Runtime settings &amp; tools
				td(id="system-tool-webterm" class="feature-disabled") #[button(data-force-hide-menu data-show-window="webterm-window" class="small" i18n="kvm_text5") &bull; Term]
				td(id="system-tool-about") #[button(data-force-hide-menu data-show-window="about-window" class="small" i18n="kvm_text6") &bull; About]
				td(id="system-tool-log") #[button(data-force-hide-menu id="open-log-button" class="small" i18n="kvm_text7") &bull; Log]
				td(id="system-tool-wol" class="feature-disabled")
					button(data-force-hide-menu class="__gpio-button-__wol__ __gpio-button small" data-channel="__wol__"
						data-confirm="Are you sure to send Wake-on-LAN packet to the server?" i18n="kvm_text8") &bull; WoL
		hr
		div(id="stream-message-no-webrtc" class="hidden")
			+menu_message("warning", "WebRTC is not supported by this browser")
			hr
		div(id="stream-message-no-vd" class="hidden")
			+menu_message("warning", "Direct HTTP H.264 streaming is not supported")
			hr
		div(id="stream-message-no-h264" class="hidden")
			+menu_message("warning", "H.264 is not supported by this browser", "stream-message-no-h264")
			hr
		table(class="kv")
			tr(id="stream-resolution" class="feature-disabled")
				td(i18n="kvm_text9") Resolution:
				td #[select(disabled id="stream-resolution-selector")]
			tr(id="stream-quality" class="feature-disabled")
				td(i18n="kvm_text10") JPEG quality:
				td(class="value-slider") #[input(disabled type="range" id="stream-quality-slider" class="slider")]
				td(id="stream-quality-value" class="value-number")
			tr
				td(i18n="kvm_text11") JPEG max fps:
				td(class="value-slider") #[input(disabled type="range" id="stream-desired-fps-slider" class="slider")]
				td(id="stream-desired-fps-value" class="value-number")
			tr(id="stream-h264-bitrate" class="feature-disabled")
				td(i18n="kvm_text12") H.264 kbps:
				td(class="value-slider") #[input(disabled type="range" id="stream-h264-bitrate-slider" class="slider")]
				td(id="stream-h264-bitrate-value" class="value-number")
			tr(id="stream-h264-gop" class="feature-disabled")
				td(i18n="kvm_text13") H.264 #[a(target="_blank" href="https://docs.pikvm.org/webrtc") gop]:
				td(class="value-slider") #[input(disabled type="range" id="stream-h264-gop-slider" class="slider")]
				td(id="stream-h264-gop-value" class="value-number")
			tr(id="stream-mode" class="feature-disabled")
				td(i18n="kvm_text14") Video #[a(target="_blank" href="https://docs.pikvm.org/webrtc") mode]:
				td
					div(class="radio-box")
						input(checked type="radio" id="stream-mode-radio-mjpeg" name="stream-mode-radio" value="mjpeg")
						label(for="stream-mode-radio-mjpeg") Legacy<br>MJPEG
						input(type="radio" id="stream-mode-radio-media" name="stream-mode-radio" value="media")
						label(for="stream-mode-radio-media") Direct<br>H.264
						input(type="radio" id="stream-mode-radio-janus" name="stream-mode-radio" value="janus")
						label(for="stream-mode-radio-janus") WebRTC<br>H.264	
			tr(id="stream-orient" class="feature-disabled")
				td(i18n="kvm_text17") Orientation:
				td
					div(class="radio-box")
						input(checked type="radio" id="stream-orient-radio-0" name="stream-orient-radio" value="0")
						label(for="stream-orient-radio-0" i18n="kvm_text18") Default
						input(type="radio" id="stream-orient-radio-90" name="stream-orient-radio" value="90")
						label(for="stream-orient-radio-90") 90&deg;
						input(type="radio" id="stream-orient-radio-180" name="stream-orient-radio" value="180")
						label(for="stream-orient-radio-180") 180&deg;
						input(type="radio" id="stream-orient-radio-270" name="stream-orient-radio" value="270")
						label(for="stream-orient-radio-270") 270&deg;
			tr(id="stream-audio" class="feature-disabled")
				td Audio volume:
				td(class="value-slider") #[input(type="range" id="stream-audio-volume-slider" class="slider")]
				td(id="stream-audio-volume-value" class="value-number")
			tr(id="stream-mic" class="feature-disabled")
				+menu_switch_notable("stream-mic-switch", "Microphone", false, false)
		hr
		div(class="buttons buttons-row")
			button(data-force-hide-menu data-show-window="stream-window" class="row33" i18n="kvm_text20") &bull; Show stream
			button(data-force-hide-menu id="stream-screenshot-button" class="row33" i18n="kvm_text21") &bull; Screenshot
			button(id="stream-reset-button" class="row33" i18n="kvm_text22") Reset stream
		div(class="text")
			b(i18n="kvm_text79") Video Record#[br]
			sub(i18n="kvm_text80") Record video using the browser API, and will be downloaded automatically
		div(class="buttons buttons-row")
			button(data-force-hide-menu id="stream-record-start-button" class="row50" i18n="kvm_text81") &bull; Start recording
			button(data-force-hide-menu id="stream-record-stop-button" class="row50" i18n="kvm_text82") &bull; End recording
		hr
		table(class="kv")
			tr(id="hid-outputs-keyboard", class="feature-disabled")
				td(i18n="kvm_text23") Keyboard mode:
				td #[div(id="hid-outputs-keyboard-box" class="radio-box")]
			tr(id="hid-outputs-mouse", class="feature-disabled")
				td(i18n="kvm_text24") Mouse #[a(target="_blank" href="https://docs.pikvm.org/mouse") mode]:
				td #[div(id="hid-outputs-mouse-box" class="radio-box")]
		details
			summary(i18n="kvm_text25") Keyboard &amp; Mouse (HID) settings
			div(class="spoiler")
				table(class="kv")
					tr
						+menu_switch_notable("hid-keyboard-swap-cc-switch", "Swap Left Ctrl and Caps keys", true, false, "hid-keyboard-swap-cc-switch")
				hr
				table(class="kv")
					tr
						td(i18n="kvm_text26") Mouse polling:
						td(class="value-slider") #[input(type="range" id="hid-mouse-rate-slider" class="slider")]
						td(id="hid-mouse-rate-value" class="value-number")
					tr(id="hid-mouse-sens" class="feature-disabled")
						td(i18n="kvm_text27") Relative sensitivity:
						td(class="value-slider") #[input(disabled type="range" id="hid-mouse-sens-slider" class="slider")]
						td(id="hid-mouse-sens-value" class="value-number")
					tr(id="hid-mouse-squash" class="feature-disabled")
						+menu_switch_notable("hid-mouse-squash-switch", "Squash relative moves", true, true, "hid-mouse-squash-switch")
					tr
						td(i18n="kvm_text28") Reverse scrolling:
						td
							table
								tr
									+menu_switch_notable("hid-mouse-reverse-scrolling-switch", "Y", true, false)
									td &nbsp;&nbsp;
									+menu_switch_notable("hid-mouse-reverse-panning-switch", "X", true, false)
					tr
						+menu_switch_notable("hid-mouse-cumulative-scrolling-switch", "Cumulative scrolling", true, false,"hid-mouse-cumulative-scrolling-switch")
					tr
						td(i18n="kvm_text29") Scroll rate:
						td(class="value-slider") #[input(type="range" id="hid-mouse-scroll-slider" class="slider")]
						td(id="hid-mouse-scroll-value" class="value-number")
					tr
						+menu_switch_notable("hid-mouse-dot-switch", "Show the blue dot", true, true,  "hid-mouse-dot-switch")
		details
			summary(i18n="kvm_text83") Web UI settings
			div(class="spoiler")
				table(class="kv")
					tr
						+menu_switch_notable("page-close-ask-switch", "Ask page close confirmation", true, true, "page-close-ask-switch")
					tr
						+menu_switch_notable("page-full-tab-stream-switch", "Expand for the entire tab by default", true, false,"page-full-tab-stream-switch")
		table(class="kv")
			tr
				+menu_switch_notable("hid-keyboard-bad-link-switch", "Bad link mode (release keys immediately)", true, false,"hid-keyboard-bad-link-switch")
			tr(id="hid-connect" class="feature-disabled")
				+menu_switch_notable("hid-connect-switch", "Connect HID to Server", true, true, "hid-connect-switch")
			tr(id="hid-jiggler" class="feature-disabled")
				+menu_switch_notable("hid-jiggler-switch", "<a href=\"https://docs.pikvm.org/mouse_jiggler\" target=\"_blank\">Mouse jiggler</a>", false, false,"hid-jiggler-switch")
			tr
				+menu_switch_notable("hid-mute-switch", "Mute HID input events", true, false, "hid-mute-switch")
			tr(id="v3-usb-breaker" class="feature-disabled")
				+menu_switch_notable_gpio("__v3_usb_breaker__", "Connect main USB to Server",
					"Turning off this switch will disconnect the main USB<br>from the server.  Are you sure you want to continue?")
			tr(id="v4-locator" class="feature-disabled")
				+menu_switch_notable_gpio("__v4_locator__", "Enable locator LED")
		hr
		div(class="buttons buttons-row")
			button(data-force-hide-menu data-show-window="keyboard-window" class="row50" i18n="kvm_text30") &bull; Show keyboard
			button(disabled id="hid-reset-button" class="row50" i18n="kvm_text31") Reset HID
