div(id="hw-health-dropdown" class="hidden")
	li(class="left")
		a(class="menu-button" href="#")
			+navbar_led("hw-health-undervoltage-led", "led-undervoltage", "hidden")
			+navbar_led("hw-health-overheating-led", "led-overheating", "hidden")
		div(data-dont-hide-menu class="menu")
			+menu_message("warning", "Raspberry Pi's health is at risk")
				| This is not a drill! A red icon indicates a current issue,#[br]
				| a yellow one that was observed since the device booted up
			div(id="hw-health-message-undervoltage" class="hidden")
				hr
				+menu_message("led-undervoltage", "Undervoltage detected", "led-gray")
					| Make sure your power supply and cabling are providing#[br]
					| enough power to the Raspberry Pi (3A minimum)
			div(id="hw-health-message-overheating" class="hidden")
				hr
				+menu_message("led-overheating", "Overheating detected", "led-gray")
					| Frequency capping due to overheating,#[br]
					| improve cooling of the Raspberry Pi
