li(class="right")
	a(class="menu-button" href="#")
		+navbar_led("link-led", "led-link")
		+navbar_led("stream-led", "led-stream")
		+navbar_led("hid-keyboard-led", "led-hid-keyboard")
		+navbar_led("hid-mouse-led", "led-hid-mouse")
		| System
	div(data-dont-hide-menu class="menu")
		div(class="text")
			b Runtime settings &amp; tools#[br]
			sub Lower stream params may improve performance in a poor network
		hr
		table(class="kv" style="width: calc(100% - 20px)")
			tr(id="stream-resolution" class="feature-disabled")
				td Resolution:
				td #[select(disabled data-dont-hide-menu id="stream-resolution-selector")]
			tr(id="stream-quality" class="feature-disabled")
				td Image quality:
				td #[input(disabled type="range" id="stream-quality-slider" class="slider")]
				td(id="stream-quality-value" class="value") 80%
			tr
				td Max FPS:
				td #[input(disabled type="range" id="stream-desired-fps-slider" class="slider")]
				td(id="stream-desired-fps-value" class="value") 0
		hr
		div(class="buttons buttons-row")
			button(data-force-hide-menu id="show-stream-button" class="row33") &bull; Show stream
			button(disabled data-force-hide-menu id="stream-screenshot-button" class="row33") &bull; Screenshot
			button(disabled id="stream-reset-button" class="row33") Reset stream
		div(id="hid-outputs" class="feature-disabled")
			hr
			table(class="kv")
				tr
					td Keyboard:
					td #[div(id="hid-outputs-keyboard" class="radio-box")]
				tr
					td Mouse:
					td #[div(id="hid-outputs-mouse" class="radio-box")]
		div(id="hid-mouse-squash" class="feature-disabled")
			hr
			+menu_switch("hid-mouse-squash-switch", "Squash relative mouse moves", true, true)
		div(id="hid-connect" class="feature-disabled")
			hr
			+menu_switch("hid-connect-switch", "Connect HID to Server", true, true)
		hr
		div(id="v3-usb-breaker" class="feature-disabled")
			table(class="kv")
				td Connect main USB to Server:
				td(align="right")
					div(class="switch-box")
						-let msg = "Turning off this switch will disconnect the main USB<br>from the server."
						-msg += " Are you sure you want to continue?"
						input(disabled type="checkbox" id="gpio-switch-__v3_usb_breaker__" class="gpio-switch"
							data-channel="__v3_usb_breaker__" data-confirm-off=msg)
						label(for="gpio-switch-__v3_usb_breaker__")
							span(class="switch-inner")
							span(class="switch")
			hr
		div(class="buttons buttons-row")
			button(data-force-hide-menu id="show-keyboard-button" class="row50") &bull; Show keyboard
			button(disabled id="hid-reset-button" class="row50") Reset HID
		hr
		div(class="buttons buttons-row")
			button(data-force-hide-menu id="show-about-button" class="row50") &bull; Show about
			button(data-force-hide-menu id="open-log-button" class="row50") &bull; Open log
		div(id="wol" class="buttons feature-disabled")
			hr
			button(disabled id="wol-wakeup-button") &bull; Wake-on-LAN server
