li.right#macro-dropdown
	a.menu-button(href="#")
		+navbar_led("hid-recorder-led", "led-gear")
		span(i18n="kvm_text32") Macro
	.menu
		.text
			b(i18n="kvm_text33") Record and play HID/ATX/GPIO actions#[br]
			sub(i18n="kvm_text34") For security reasons, the record will not be saved on the PiKVM
		hr
		.buttons.buttons-row
			button.row25#hid-recorder-record(disabled data-force-hide-menu i18n="kvm_text35") &bull; Rec
			button.row25#hid-recorder-stop(disabled i18n="kvm_text36") Stop
			button.row25#hid-recorder-play(disabled i18n="kvm_text37") Play
			button.row25#hid-recorder-clear(disabled i18n="kvm_text38") Clear
		hr

		table.kv
			tr
				td(i18n="kvm_text39") Script time:
				td.value#hid-recorder-time(colspan="2") 00:00:00.0
			tr
				td(i18n="kvm_text40") Scripted events:
				tdvalue#hid-recorder-events-count 0
				td #[sup #[i(i18n="kvm_text41") include delays]]
		hr
		+menu_switch_table("hid-recorder-loop-switch", "Infinite loop playback", false, false, "hid-recorder-loop-switch")
		hr
		input#hid-recorder-new-script-file(type="file"  style="display: none")
		.buttons.buttons-row
			button.row50#hid-recorder-upload(disabled i18n="kvm_text42") Upload script
			button.row50#hid-recorder-download(disabled i18n="kvm_text43") Download script
