li(id="text-dropdown" class="right")
	a(class="menu-button" href="#")
		+navbar_led("stream-ocr-led", "led-gear", "feature-disabled")
		span Text
	div(id="text-menu" class="menu")
		div(class="text")
			b Paste text as keypress sequence#[br]
			sub Please note that PiKVM cannot switch the keyboard layout
		hr
		div(class="text" style="margin-right: 20px")
			textarea(id="hid-pak-text" data-focus placeholder="Enter your text here")
		table(class="kv")
			tr
				td
					button(disabled data-force-hide-menu id="hid-pak-button") &bull; Paste
				td using host keymap
				td
					select(id="hid-pak-keymap-selector")
		table(class="kv")
			tr
				+menu_switch_notable("hid-pak-slow-switch", "Slow typing", true, false)
			tr
				+menu_switch_notable("hid-pak-secure-switch", "Hide input text", true, false)
			tr
				+menu_switch_notable("hid-pak-ask-switch", "Ask paste confirmation", true, true)
		div(id="stream-ocr" class="feature-disabled")
			hr
			br
			hr
			div(class="text")
				b Text recognition <sup><i>&beta;</i></sup>#[br]
				sub #[a(target="_blank" href="https://docs.pikvm.org/ocr") OCR] works locally on PiKVM
			hr
			table(class="kv")
				tr
					td
						button(data-force-hide-menu id="stream-ocr-button") &bull; Select area
					td for
					td
						select(id="stream-ocr-lang-selector")
					td text recognition
			table(class="kv")
				tr
					td(colspan="4") &bull; Press #[b Enter] to recognize and copy text to clipboard
				tr
					td(colspan="4") &bull; Press #[b Esc] to cancel selection
				tr
					td
