li.right.feature-disabled#atx-dropdown
	a.menu-button(href="#")
		+navbar_led("atx-power-led", "led-atx-power")
		+navbar_led("atx-hdd-led", "led-atx-hdd")
		span ATX

	.menu
		.text
			b Control the server's power#[br]
			sub Use the short click for ACPI shutdown
		hr
		+menu_switch_table("atx-ask-switch", true, true) Ask click confirmation:
		hr
		.buttons
			button#atx-power-button(disabled data-force-hide-menu) &bull; Click Power #[sup #[i short]]
			button#atx-power-button-long(disabled data-force-hide-menu) &bull; Click Power #[sup #[i long]]
			hr
			button#atx-reset-button(disabled data-force-hide-menu) &bull; Click Reset
