li.right.feature-disabled#msd-dropdown
	a.menu-button(href="#")
		+navbar_led("msd-led", "led-msd")
		span Drive

	.menu#msd-menu
		.text
			b Mass Storage Drive: 
			span#msd-status
			br
		hr

		.hidden#msd-message-offline
			+menu_message("warning", "Mass Storage Drive is offline")
			hr
		.hidden#msd-message-image-broken
			+menu_message("warning", "Current image is broken!")
				| Perhaps uploading was interrupted
			hr
		.hidden#msd-message-too-big-for-dvd
			+menu_message("warning", "Current image is too big for DVD!")
				| The maximum is 31.6GiB. Please switch to the Flash mode.
			hr
		.hidden#msd-message-out-of-storage
			+menu_message("warning", "Current image is out of storage")
				| This image was connected manually using #[b kvmd-otgmsd]
			hr
		.hidden#msd-message-rw-enabled
			+menu_message("warning", "Read-write mode is enabled")
				| Do not turn off PiKVM while this is active to prevent#[br]
				| filesystem corruption. Use read-only mode where possible,#[br]
				| as writing to SD card often can reduce its lifespan.
			hr
		.hidden#msd-message-downloads
			+menu_message("info", "The image is being downloaded from PiKVM")
				| Please wait
			hr

		table.kv
			tr
				td Image:
				td(width="100%") #[select#msd-image-selector(disabled)]
				td #[button#msd-download-button(disabled title="Download image") #[b &nbsp;&nbsp;&#x21E9;&nbsp;&nbsp;]]
				td #[button#msd-remove-button(disabled title="Remove image") #[b &nbsp;&nbsp;&times;&nbsp;&nbsp;]]

		table.kv
			tr
				+menu_radio_td2("msd-mode-radio", [
					{title: "CD/DVD", value: "1", checked: true},
					{title: "Flash", value: "0"},
				]) Drive #[a(target="_blank" href="https://docs.pikvm.org/msd") mode]:
				td &nbsp;
				+menu_switch_td2("msd-rw-switch", false, false) Writable:
		hr

		#msd-storages
		hr

		.buttons.buttons-row
			button.row50#msd-select-new-button(disabled) Select image to upload
			button.row25#msd-upload-new-button(disabled) Upload
			button.row25#msd-abort-new-button(disabled) Abort
		hr

		.hidden#msd-message-another-user-uploads
			+menu_message("info", "Another user uploads an image")
			hr

		.hidden#msd-new-sub
			table.kv
				tr
					td Specify a local file:
					td #[input#msd-new-file(type="file")]
				tr
					td #[b Or] paste a URL:
					td #[input#msd-new-url(type="text" style="width: 100%")]
				tr.hidden#msd-new-part
					td Upload partition:
					td(width="100%") #[select#msd-new-part-selector]
			hr

		.hidden#msd-uploading-sub
			table.kv
				tr
					td New image:
					td.value#msd-uploading-name
				tr
					td Upload size:
					td.value#msd-uploading-size
			.text
				.progress#msd-uploading-progress
					span.progress-value#msd-uploading-progress-value
			hr

		.hidden#msd-new-tips
			table.kv
				tr
					td.value Note:
					td &bull; Don't close the browser page until the upload is complete.
				tr
					td
					td &bull; To speed up the upload, close the stream window.
			hr

		.buttons.buttons-row
			button.row50#msd-connect-button Connect drive to Server
			button.row25#msd-disconnect-button Disconnect
			button.row25#msd-reset-button Reset
