li(class="right")
	a(class="menu-button" href="#") Shortcuts
	div(data-dont-hide-menu class="menu")
		div(class="text")
			b Paste text as keypress sequence#[br]
		hr
		div(class="text" style="margin-right: 20px")
			textarea(id="hid-pak-text" placeholder="Enter your text here")
		hr
		table(class="kv")
			tr
				td
					button(disabled data-force-hide-menu id="hid-pak-button") &bull; Paste
				td using host keymap
				td
					select(id="hid-pak-keymap-selector")
		hr
		+menu_switch("hid-pak-ask-switch", "Ask paste confirmation", true, true)
		hr
		div(class="text")
		hr
		div(class="buttons")
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="CapsLock" class="row50")
					| &bull; Caps Lock &nbsp;
					img(class="inline-lamp hid-keyboard-caps-led led-gray" src=`${svg_dir}/led-square.svg`)
				button(data-force-hide-menu data-shortcut="MetaLeft" class="row50") &bull; Left Win
			hr
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="AltLeft ShiftLeft" class="row50") &bull; Alt+Shift
				button(data-force-hide-menu data-shortcut="ControlLeft KeyW" class="row50") &bull; Ctrl+W
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="ControlLeft ShiftLeft" class="row50") &bull; Ctrl+Shift
				button(data-force-hide-menu data-shortcut="AltLeft Tab" class="row50") &bull; Alt+Tab
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="ShiftLeft ShiftRight" class="row50") &bull; Shift+Shift
				button(data-force-hide-menu data-shortcut="AltLeft Enter" class="row50") &bull; Alt+Enter
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="MetaLeft Space" class="row50") &bull; Win+Space
				button(data-force-hide-menu data-shortcut="AltLeft F4" class="row50") &bull; Alt+F4
			hr
			button(data-force-hide-menu data-shortcut="ControlLeft AltLeft Delete") &bull; Ctrl+Alt+Del
		hr
		div(class="text")
			| &darr; Alt+SysRq+... <sup><i>linux magic
			| #[a(target="_blank" href="https://www.kernel.org/doc/html/latest/admin-guide/sysrq.html") help]</i></sup>
		hr
		div(class="buttons")
			div(class="buttons-row")
				each key in ["R", "E", "I", "S", "U", "B"]
					button(data-shortcut=`AltLeft PrintScreen Key${key}` class="row16") #{key}
