.window#stream-ocr-window
	.hidden#stream-ocr-selection

.window.window-resizable#stream-window
	.window-header#stream-window-header
		.window-grab MJPEG
		button.window-button-close #[b &times;]
		button.window-button-maximize &#9744;
		button.window-button-original &bull;
		button.window-button-enter-full-tab &#9650;
		button.window-button-full-screen &#10530;

	#stream-info

	button.window-button-exit-full-tab &#9660;

	.stream-box-offline#stream-box
		img#stream-image(src=`${png_dir}/blank-stream.png`)
		video.hidden#stream-video(disablePictureInPicture="true" autoplay playsinline muted)
		canvas.hidden#stream-canvas
		#stream-fullscreen-active

	.keypad#stream-mouse-buttons(align="center")
		.keypad-block
			.keypad-row
				.key.wide-3.left.rounded-left(data-code="left")
					.label Left
				.modifier.left.small.rounded-right(data-code="left")
					.label #[b &bull;]#[br]Hold

				.empty(style="width: 15px")

				.key.wide-1.left.rounded-left(data-code="middle")
					.label Mid
				.modifier.left.small.rounded-right(data-code="middle")
					.label #[b &bull;]#[br]Hold

				.empty(style="width: 15px")

				.modifier.right.small.rounded-left(data-code="right")
					.label #[b &bull;]#[br]Hold
				.key.wide-3.right.rounded-right(data-code="right")
					.label Right

				.empty(style="width: 30px")

				.key.small.rounded-left(data-code="up")
					.label Up
				.key.small.rounded-right(data-code="down")
					.label Down
