.window#stream-ocr-window
	.hidden#stream-ocr-selection

.window.window-resizable#stream-window(data-show-maximized data-organize-hook)
	.window-header#stream-window-header
		.window-grab MJPEG
		.window-buttons
			button.window-button-full-screen &#10530;
			button.window-button-enter-full-tab &#9650;
			button.window-button-original &bull;
			button.window-button-maximize &#9744;
			button.window-button-close #[b &times;]

	#stream-info

	button.window-button-exit-full-tab &#9660;

	.stream-box-offline#stream-box
		img#stream-image(src=`${png_dir}/blank-stream.png`)
		video.hidden#stream-video(disablePictureInPicture="true" autoplay playsinline muted)
		canvas.hidden#stream-canvas
		#stream-fullscreen-active

	.keypad#stream-mouse-buttons(align="center")
		.keypad-block
			.keypad-row
				.key.wide-3.left.rounded-left(data-code="left" data-allow-autohold)
					.label #[b &bull;]#[br]Left
				.key.wide-1.rounded-none(data-code="middle" data-allow-autohold)
					.label #[b &bull;]#[br]Mid
				.key.wide-3.right.rounded-right(data-code="right" data-allow-autohold)
					.label #[b &bull;]#[br]Right

				.empty(style="width: 30px")

				.key.small.rounded-left(data-code="up" data-allow-autohold)
					.label #[b &bull;]#[br]Up
				.key.small.rounded-right(data-code="down" data-allow-autohold)
					.label #[b &bull;]#[br]Down
