div#about {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	padding: 5px 5px 5px 5px;
}

div#about td.logo {
	padding-right: 25px;
}

div#about td.title {
	font-size: 1.2em;
}

div#about td.copyright {
	font-size: 0.8em;
}

div#about tr.version {
	font-family: monospace;
}
