textarea#hid-pak-text {
	display: block;
	resize: none;
	width: 100%;
	height: 40px;
	color: var(--fg-color-dark);
	background-color: var(--bg-color-light);
	border: none;
	outline: 0 !important;
	-webkit-appearance:none;
}

textarea#hid-pak-text::-moz-placeholder {
	line-height: 40px;
	text-align: center;
}

textarea#hid-pak-text::-webkit-input-placeholder {
	line-height: 40px;
	text-align: center;
}
