body {
	margin: 0;
	overflow: hidden;
	color: var(--fg-color-normal);
	background-color: var(--bg-color-normal);
	font-family: sans-serif !important;
}
body.body-no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	touch-action: manipulation;
}

a {
	color: var(--fg-color-normal);
}

hr {
	border: none;
	border-top: var(--border-normal-thin);
}

p.text {
	display: table-cell;
	text-align: justify;
}

pre.code {
	overflow-x: auto;
	color: var(--fg-color-dark);
	background-color: var(--bg-color-dark);
	padding: 10px;
}
pre.code span.code-comment {
	color: var(--fg-color-inactive);
}

img.svg-gray {
	-webkit-filter: invert(0.7);
	filter: invert(0.7);
	vertical-align: middle;
}

button, select {
	box-shadow: none;
	border: none;
	color: var(--fg-color-normal);
	background-color: var(--bg-color-normal);
	display: block;
	width: 100%;
	height: 30px;
	font-size: 16px;
	outline: none;
	cursor: pointer;
}
@media (hover: hover), (min--moz-device-pixel-ratio: 0) {
	/* If we have a mouse cursor */
	button:enabled:hover, select:enabled:hover {
		color: var(--fg-color-intensive);
		background-color: var(--bg-color-dark) !important;
	}
	button:active, select:active {
		color: var(--fg-color-selected) !important;
	}
	select:enabled:hover {
		background-image: url("../svg/select-arrow-intensive.svg") !important;
	}
}
@media (hover: none) {
	/* If we DON'T have a mouse cursor */
	button:active, select:active {
		color: var(--fg-color-intensive);
		background-color: var(--bg-color-dark);
	}
}
button:disabled, select:disabled {
	color: var(--fg-color-inactive);
	cursor: default;
}

select {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-image: url("../svg/select-arrow-normal.svg");
	background-position: center right;
	background-repeat: no-repeat;
}
select:disabled {
	background-image: url("../svg/select-arrow-inactive.svg") !important;
}
select:active {
	color: var(--fg-color-intensive) !important;
	background-color: var(--bg-color-dark) !important;
	background-image: url("../svg/select-arrow-intensive.svg") !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	button, select {
		height: 45px !important;
	}
}

div.buttons-row {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.row50 {
	display: inline-block;
	width: 50%;
}
.row25 {
	display: inline-block;
	width: 25%;
}
.row16 {
	display: inline-block;
	width: 16.66%
}
.row50:not(:first-child), .row25:not(:first-child), .row16:not(:first-child) {
	border-left: var(--border-dark-thin);
}

ul.footer {
	list-style-type: none;
	bottom: 0;
	position: fixed;
	width: 100%;
	padding: 0;
	font-size: 0.7em;
	color: var(--fg-color-inactive);
	z-index: -10;
}
ul.footer li {
	padding: 0 10px;
}
ul.footer li.footer-left {
	float: left;
}
ul.footer li.footer-right {
	float: right;
}
ul.footer li a {
	color: var(--fg-color-inactive);
}
