ul.menu {
	box-shadow: var(--shadow-small);
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: var(--cs-menu-default-bg);
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	z-index: 2147483646;
}

ul.menu li.menu-logo {
	line-height: 50px;
	margin-top: -2px;
	margin-left: 16px;
	float: left;
}

ul.menu li.menu-right-items {
	float: right;
}

ul.menu img {
	vertical-align: middle;
	margin-right: 10px;
	height: 20px;
}

ul.menu li a.menu-item {
	line-height: 50px;
	outline: none;
	cursor: pointer;
	border-left: var(--border-menu-thin);
	display: inline-block;
	color: var(--cs-menu-default-fg);
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
}

ul.menu li a.menu-item:hover:not(.active) {
	background-color: var(--cs-menu-hovered-bg);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* iPad 8 */
	ul.menu li a.menu-item:hover:not(.active) {
		background-color: var(--cs-menu-default-bg) !important;
	}
}

ul.menu li a.menu-item-selected {
	box-shadow: var(--shadow-menu-pressed);
	background-color: var(--cs-menu-pressed-bg) !important;
}

ul.menu li div.menu-item-content {
	visibility: hidden;
	overflow: hidden;
	white-space: nowrap;
	border: var(--border-intensive-2px);
	border-top: var(--border-control-thin);
	border-radius: 0 0 8px 8px;
	position: absolute;
	background-color: var(--cs-menu-default-bg);
	min-width: 180px;
	box-shadow: var(--shadow-big);
	z-index: 2147483645;
}

ul.menu li div.menu-item-content-buttons {
	background-color: var(--cs-control-default-bg);
}

ul.menu li div.menu-item-content-text {
	margin: 10px 15px 10px 15px;
	font-size: 14px;
}

ul.menu li div.menu-item-content button, select {
	text-align: left;
	padding: 0 16px;
}

ul.menu li div.menu-item-content hr {
	margin: 0;
	display: block;
	height: 0px;
	padding: 0;
	border: none;
	border-top: var(--border-control-thin);
}
