/*
	http://stephen.io/mediaqueries/
	https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	div#keyboard-window {
		visibility: visible !important;
		padding-top: 9px !important;
		padding-bottom: 30px !important;
		border-bottom: 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
		border-radius: 0 !important;
		top: unset !important;
		bottom: 0 !important;
		width: 100% !important;
		left: 50% !important;
		-webkit-transform: translateX(-50%) !important;
		transform: translateX(-50%) !important;
	}
	div#keyboard-window-header {
		display: none !important
	}

	div#stream-window {
		padding-top: 3px !important;
		border-top: 0 !important;
		border-radius: 0 0 8px 8px !important;
		top: 50px !important;
		left: 50% !important;
		-webkit-transform: translateX(-50%) !important;
		transform: translateX(-50%) !important;
	}
	div#stream-window-header {
		display: none !important;
	}
	div#stream-info {
		display: block !important;
		margin: 0;
		padding: 0;
		padding-bottom: 3px;
		font-size: 0.8em;
		color: var(--fg-color-dark);
	}
	div#stream-mouse-buttons {
		display: block !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	button, select {
		height: 45px !important;
	}

	@supports (-webkit-appearance: none) {
		input[type=range].slider {
			margin: 20px 0 20px 0 !important;
		}

		table#stream-auto-resize-box {
			margin: 20px 0 20px 0 !important;
		}
	}
}
