/*
	http://stephen.io/mediaqueries/
	https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	div.window {
		padding-top: 45px !important;
	}
	div.window-header {
		height: 35px !important;
	}
	div.window-grab {
		height: 35px !important;
	}
	button.window-button-close {
		height: 40px !important;
	}

	ul#ctl li a.ctl-item:hover:not(.active) {
		background-color: var(--bg-color-ctl) !important;
	}

	div.keyboard {
		zoom: 1.28 !important;
	}
	div#keyboard-window {
		visibility: visible !important;
		padding-top: 9px !important;
		padding-bottom: 30px !important;
		border-bottom: 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
		border-radius: 0 !important;
		top: unset !important;
		bottom: 0 !important;
		width: 100% !important;
		left: 50% !important;
		-webkit-transform: translateX(-50%) !important;
		transform: translateX(-50%) !important;
	}
	div#keyboard-window-header {
		display: none !important
	}
	div.keyboard div.key:hover, div.modifier:hover {
		color: var(--fg-color-normal);
		background-color: var(--bg-color-gray);
	}
	div#keyboard-desktop {
		display: none !important;
	}
	div#keyboard-mobile {
		display: block !important;
	}

	div#stream-window {
		padding-top: 9px !important;
		border-top: 0 !important;
		border-radius: 0 0 8px 8px !important;
		top: 50px !important;
		left: 50% !important;
		-webkit-transform: translateX(-50%) !important;
		transform: translateX(-50%) !important;
	}
	div#stream-window-header {
		display: none !important;
	}
	div#stream-mouse-buttons {
		display: block !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	button, select {
		height: 45px !important;
	}

	div.modal-buttons button {
		height: 50px !important;
	}

	@supports (-webkit-appearance:none) {
		div#stream-size-slider-box input[type=range] {
			margin: 20px 0 20px 0 !important;
		}
		table#stream-auto-resize-box {
			margin: 20px 0 20px 0 !important;
		}
	}
}
