div#msd-menu {
	width: 450px;
}
div#msd-menu
div#msd-not-in-operate,
div#msd-current-image-broken,
div#msd-another-another-user-uploads,
input#msd-select-new-image-file,
div#msd-new-image {
	display: none;
}

table.msd-info {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	border-spacing: 5px;
	margin: 0 10px 0 10px;
	font-size: 12px;
}

table.msd-info td.msd-info-value {
	font-weight: bold;
	max-width: 310px;
	overflow: hidden;
}
