div.progress {
	background-color: var(--bg-color-selected);
	height: 1.5em;
	width: 100%;
	position: relative;
}

div.progress:before {
	color: var(--fg-color-intensive);
	content: attr(data-label);
	font-size: 0.8em;
	position: absolute;
	text-align: center;
	top: 4px;
	left: 0;
	right: 0;
}

div.progress span.progress-value {
	background-color: var(--bg-color-intensive);
	display: inline-block;
	height: 100%;
}
