div#stream-info {
	display: none;
}

img#stream-image {
	width: 640px;
	height: 480px;
	display: block;
	background-color: var(--bg-color-stream-screen);
}

img.stream-image-active {
	-webkit-filter: none;
	filter: none;
}

img.stream-image-inactive {
	-webkit-filter: grayscale(100%) brightness(75%) sepia(75%);
	filter: grayscale(100%) brightness(75%) sepia(75%);
}

div#stream-box {
	position: relative;
	display: inline-block;
	border: var(--dark-border);
}
div.stream-box-inactive::after {
	cursor: wait;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: radial-gradient(transparent 20%, black);
}
div.stream-box-mouse-enabled {
	cursor: url("../svg/stream-mouse-cursor.svg"), pointer;
}

div.stream-slider-box {
	margin-top: 5px;
	display: flex;
}

table#stream-auto-resize-box {
	width: 100%;
	border-collapse: collapse;
}

div#stream-mouse-buttons {
	display: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
