[Unit]
Description=The main Pi-KVM daemon
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
Restart=always
RestartSec=3

ExecStart=/usr/bin/kvmd --config /etc/kvmd/kvmd.conf
ExecStopPost=/usr/bin/kvmd-cleanup --config /etc/kvmd/kvmd.conf

[Install]
WantedBy=multi-user.target
