div#stream-box {
	box-sizing: border-box;
	display: inline-block;
	background-color: #e5e5f5;
	padding: 10px;
}
img#stream-image {
	width: 640px;
	height: 480px;
	display: inline-block;
	border: 1px solid grey;
}
img.stream-image-active {
	cursor: crosshair;
	-webkit-filter: none;
	filter: none;
}
img.stream-image-inactive {
	cursor: wait;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

div#atx-power-led, div#hid-mouse-led, div#msd-led {
	font-weight: bold;
	font-size: 150%;
}
div#atx-hdd-led, div#stream-led, div#hid-keyboard-led {
	font-size: 150%;
}
div.led-on {
	color: #00ce00;
}
div.led-off {
	color: grey;
}
div.led-busy {
	color: #ff373a;
}

button#stream-reset-button button#atx-power-button, button#atx-reset-button {
}
