:root {
	--dark-border: 1px solid #17191d;
	--black-border: 1px solid black;

	--small-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	--big-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);

	--bg-color-normal: #36393f;
	--bg-color-light: #484b51;
	--bg-color-dark: #17191d;
	--bg-color-ctl: #202225;
	--bg-color-hovered: #1a1c1f;
	--bg-color-selected: #171717;
	--bg-color-progress: #171717;

	--fg-color-normal: #c3c3c3;
	--fg-color-intensive: white;
	--fg-color-inactive: #6c7481;
	--fg-color-selected: #6c7481;
	--fg-color-progress: #436a8a;

	--bg-color-stream-screen: black;
}

body {
	margin: 0;
	color: var(--fg-color-normal);
	background-color: var(--bg-color-normal);
	font-family: sans-serif !important;
}
img#logo {
	-webkit-filter: invert(0.7);
	filter: invert(0.7);
	vertical-align: middle;
	padding: 13px 15px;
}
div.centered {
	position: absolute;
	top: 70px;
	left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	transform: translate(-50%);
}

ul#ctl {
	user-select: none;
	box-shadow: var(--small-shadow);
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color-ctl);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
ul#ctl li.ctl-logo {
	float: left;
}
ul#ctl li.ctl-right-actions {
	cursor: pointer;
	float: right;
}
ul#ctl img {
	vertical-align: middle;
	margin-right: 10px;
	height: 20px;
}
ul#ctl li a.ctl-item {
	pointer-events: none;
	border-left: var(--black-border);
	display: inline-block;
	color: var(--fg-color-normal);
	padding: 15px 16px;
	text-decoration: none;
	height: 20px;
}
ul#ctl li a.ctl-item:hover:not(.active) {
	background-color: var(--bg-color-selected);
}
div.ctl-dropdown {
	outline: none;
	position: relative;
	display: inline-block;
}
div.ctl-dropdown-content {
	user-select: text;
	cursor: default;
	white-space: nowrap;
	border: var(--dark-border);
	border-radius: 0 0 8px 8px;
	position: absolute;
	background-color: var(--bg-color-ctl);
	min-width: 180px;
	box-shadow: var(--big-shadow);
	z-index: 9;
	visibility: hidden;
	transition: visibility 0.5s;
	opacity: 0;
}
div.ctl-dropdown:focus {
	pointer-events: none;
}
div.ctl-dropdown:focus div.ctl-dropdown-content {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
div.ctl-dropdown:hover a.ctl-item {
	background-color: var(--bg-color-hovered);
}
div.ctl-dropdown:focus a.ctl-item {
	background-color: var(--bg-color-selected);
}
div.ctl-dropdown-content button {
	box-shadow: none;
	border: none;
	color: var(--fg-color-normal);
	background-color: var(--bg-color-normal);
	display: block;
	width: 100%;
	height: 30px;
	font-size: 16px;
	text-align: left;
	padding: 0 15px;
	outline: none;
	cursor: pointer;
}
div.ctl-dropdown-content button:last-child {
	border-radius: 0 0 7px 7px;
}
div.ctl-dropdown-content button:enabled:hover {
	color: var(--fg-color-intensive);
	background-color: var(--bg-color-dark) !important;
}
div.ctl-dropdown-content button:disabled {
	color: var(--fg-color-inactive);
	cursor: default;
}
div.ctl-dropdown-content button:active {
	color: var(--fg-color-selected) !important;
}
div.ctl-dropdown-content button.first {
	display: inline-block;
	width: 50%;
}
div.ctl-dropdown-content button.second-half {
	display: inline-block;
	width: 25%;
	border-left: var(--dark-border);
}
div.ctl-dropdown-content button.first-bottom {
	display: inline-block;
	width: 50%;
	border-radius: 0 0 0 7px;
}
div.ctl-dropdown-content button.second-bottom {
	display: inline-block;
	width: 50%;
	border-left: var(--dark-border);
	border-radius: 0 0 7px 0;
}
div.ctl-dropdown-content hr {
	margin: 0;
	display: block;
	height: 1px;
	border: 0;
	padding: 0;
	background-color: var(--bg-color-dark);
}
div.ctl-dropdown-content-text {
	margin: 10px 15px 10px 15px;
	font-size: 14px;
}

div#stream-box {
	user-select: none;
	border: var(--dark-border);
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: var(--big-shadow);
	display: inline-block;
	background-color: var(--bg-color-light);
	padding: 10px;
}
img#stream-image {
	width: 640px;
	height: 480px;
	display: inline-block;
	border: var(--dark-border);
	background-color: var(--bg-color-stream-screen);
}
img.stream-image-active {
	cursor: crosshair;
	-webkit-filter: none;
	filter: none;
}
img.stream-image-inactive {
	cursor: wait;
	-webkit-filter: grayscale(100%) brightness(75%);
	filter: grayscale(100%) brightness(75%);
}

img.led-on {
	-webkit-filter: invert(0.5) sepia(1) saturate(5) hue-rotate(100deg);
	filter: invert(0.5) sepia(1) saturate(5) hue-rotate(100deg);
}
img.led-off {
	-webkit-filter: invert(0.5);
	filter: invert(0.5);
}
img.led-hdd-busy {
	-webkit-filter: invert(0.5) sepia(1) saturate(15) hue-rotate(320deg);
	filter: invert(0.5) sepia(1) saturate(15) hue-rotate(320deg);
}
img.led-msd-writing {
	-webkit-filter: invert(0.5) sepia(1) saturate(5) hue-rotate(0deg);
	filter: invert(0.5) sepia(1) saturate(5) hue-rotate(0deg);
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform:rotate(360deg);
	}
}

div#msd-menu {
	width: 450px;
}

table#msd-info {
	user-select: text;
	border-spacing: 5px;
	margin: 0 10px 0 10px;
	font-size: 12px;
}
table#msd-info
td#msd-status,
td#msd-current-image-name,
td#msd-current-image-size,
td#msd-storage-size,
td#msd-new-image-name,
td#msd-new-image-size {
	font-weight: bold;
	max-width: 310px;
	overflow: hidden;
}

div#msd-progress {
	background-color: var(--bg-color-progress);
	height: 1.5em;
	width: 100%;
	position: relative;
}
div#msd-progress:before {
	color: var(--fg-color-intensive);
	content: attr(data-label);
	font-size: 0.8em;
	position: absolute;
	text-align: center;
	top: 4px;
	left: 0;
	right: 0;
}
div#msd-progress span#msd-progress-value {
	background-color: var(--fg-color-progress);
	display: inline-block;
	height: 100%;
}
