body {
	margin: 0;
	color: #c3c3c3;
	background-color: #36393f;
	font-family: sans-serif !important;
}
img#logo {
	-webkit-filter: invert(0.7);
	filter: invert(0.7);
	vertical-align: middle;
	padding: 13px 15px;
}
div.centered {
	position: absolute;
	top: 70px;
	left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	transform: translate(-50%);
}

ul#ctl {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #202225;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
ul#ctl li a:hover:not(.active) {
	background-color: #111;
}
ul#ctl li.ctl-left {
	float: left;
}
/*ul#ctl li.ctl-left-sep:last-child {
	float: left;
	border-right: 1px solid black;
}*/
ul#ctl li.ctl-right {
	float: right;
}
ul#ctl li.ctl-right-sep:not(last-child) {
	float: right;
	border-left: 1px solid black;
}
/*ul#ctl p {
	color: #c3c3c3;
	margin: 0;
	padding: 15px 16px;
}*/
ul#ctl img {
	vertical-align: middle;
	margin-right: 10px;
	height: 20px;
}
ul#ctl a.ctl-item {
	display: inline-block;
	vertical-align: middle;
	color: #c3c3c3;
	text-align: center;
	padding: 15px 16px;
	text-decoration: none;
	height: 20px;
}
div.ctl-dropdown {
	position: relative;
	display: inline-block;
}
div.ctl-dropdown-content {
	white-space: nowrap;
	border: 1px solid #17191d;
	border-radius: 0 0 8px 8px;
	display: none;
	position: absolute;
	background-color: #282b30;
	min-width: 180px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
	z-index: 9;
}
div.ctl-dropdown:hover .ctl-dropdown-content {
	display: block;
}
div.ctl-dropdown:hover .ctl-item {
	background-color: #111;
}
div.ctl-dropdown-content button {
	box-shadow: none;
	border: none;
	color: #c3c3c3;
	background-color: #36393f;
	display: block;
	width: 100%;
	height: 30px;
	font-size: 16px;
	text-align: left;
	padding: 0 15px;
	outline: none;
	cursor: pointer;
}
div.ctl-dropdown-content button:last-child {
	border-radius: 0 0 8px 8px;
}
div.ctl-dropdown-content button:enabled:hover {
	color: white;
	background-color: #17191d !important;
}
div.ctl-dropdown-content button:disabled {
	color: #6c7481;
	cursor: default;
}
div.ctl-dropdown-content button:active {
	color: #5e646e !important;
}
div.ctl-dropdown-content button.first {
	display: inline-block;
	width: 50%;
	/*border-right: 1px solid #17191d;*/
	border-radius: 0 !important;
}
div.ctl-dropdown-content button.second-half-first {
	display: inline-block;
	width: 25%;
	border-left: 1px solid #17191d;
	border-radius: 0 !important;
}
div.ctl-dropdown-content button.second-half-second {
	display: inline-block;
	width: 25%;
	border-left: 1px solid #17191d;
	border-radius: 0 !important;
}
div.ctl-dropdown-content button.first-bottom {
	display: inline-block;
	width: 50%;
	border-radius: 0 0 0 8px !important;
}
div.ctl-dropdown-content button.second-bottom {
	display: inline-block;
	width: 50%;
	border-left: 1px solid #17191d;
	border-radius: 0 0 8px 0 !important;
}
div.ctl-dropdown-content hr {
	margin: 0;
	display: block;
	height: 0;
	border: 0;
	border-top: 1px solid #17191d;
	padding: 0;
}
div.ctl-dropdown-content-text {
	margin: 10px 15px 10px 15px;
	font-size: 14px;
}

div#stream-box {
	border: 1px solid #17191d;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
	display: inline-block;
	background-color: #484b51;
	padding: 10px;
}
img#stream-image {
	width: 640px;
	height: 480px;
	display: inline-block;
	border: 1px solid #17191d;
	background-color: black;
}
img.stream-image-active {
	cursor: crosshair;
	-webkit-filter: none;
	filter: none;
}
img.stream-image-inactive {
	cursor: wait;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

img.led-on {
	-webkit-filter: invert(0.5) sepia(1) saturate(5) hue-rotate(100deg);
	filter: invert(0.5) sepia(1) saturate(5) hue-rotate(100deg);
}
img.led-off {
	-webkit-filter: invert(0.5);
	filter: invert(0.5);
}
img.led-hdd-busy {
	-webkit-filter: invert(0.5) sepia(1) saturate(15) hue-rotate(320deg);
	filter: invert(0.5) sepia(1) saturate(15) hue-rotate(320deg);
}
img.led-msd-writing {
	-webkit-filter: invert(0.5) sepia(1) saturate(5) hue-rotate(0deg);
	filter: invert(0.5) sepia(1) saturate(5) hue-rotate(0deg);
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

table#msd-info {
	border-spacing: 5px;
	margin: 0 10px 0 10px;
	font-size: 14px;
}
table#msd-info
td#msd-current-image-name,
td#msd-current-image-size,
td#msd-storage-device,
td#msd-storage-size,
td#msd-new-image-name,
td#msd-new-image-size {
	font-weight: bold;
	max-width: 330px;
	overflow: hidden;
}

div#msd-progress {
	background-color: #111;
	height: 1.5em;
	width: 100%;
	position: relative;
}
div#msd-progress:before {
	color: white;
	content: attr(data-label);
	font-size: 0.8em;
	position: absolute;
	text-align: center;
	top: 4px;
	left: 0;
	right: 0;
}
div#msd-progress span#msd-progress-value {
	background-color: #436a8a;
	display: inline-block;
	height: 100%;
}
