div#msd-menu {
	width: 450px;
}
div#msd-menu
div#msd-not-in-operate,
div#msd-current-image-broken,
div#msd-another-another-user-uploads,
input#msd-select-new-image-file,
div#msd-new-image {
	display: none;
}

table.msd-info {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	border-spacing: 5px;
	margin: 0 10px 0 10px;
	font-size: 12px;
}
table.msd-info
td#msd-status,
td#msd-current-image-name,
td#msd-current-image-size,
td#msd-storage-size,
td#msd-new-image-name,
td#msd-new-image-size {
	font-weight: bold;
	max-width: 310px;
	overflow: hidden;
}

div#msd-progress {
	background-color: var(--bg-color-selected);
	height: 1.5em;
	width: 100%;
	position: relative;
}
div#msd-progress:before {
	color: var(--fg-color-intensive);
	content: attr(data-label);
	font-size: 0.8em;
	position: absolute;
	text-align: center;
	top: 4px;
	left: 0;
	right: 0;
}
div#msd-progress span#msd-progress-value {
	background-color: var(--bg-color-intensive);
	display: inline-block;
	height: 100%;
}
