img#stream-image {
	width: 640px;
	height: 480px;
	display: inline-block;
	border: var(--dark-border);
	background-color: var(--bg-color-stream-screen);
}

img.stream-image-active {
	-webkit-filter: none;
	filter: none;
}

img.stream-image-inactive {
	-webkit-filter: grayscale(100%) brightness(75%) sepia(75%);
	filter: grayscale(100%) brightness(75%) sepia(75%);
}

div#stream-box {
	position: relative;
	display: inline-block;
}
div.stream-box-active: {
	cursor: crosshair;
}
div.stream-box-inactive::after {
	cursor: wait;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: radial-gradient(transparent 20%, black);
}
