img#stream-image {
	width: 640px;
	height: 480px;
	display: inline-block;
	border: var(--dark-border);
	background-color: var(--bg-color-stream-screen);
}

img.stream-image-active {
	cursor: crosshair;
	-webkit-filter: none;
	filter: none;
}

img.stream-image-inactive {
	cursor: wait;
	-webkit-filter: grayscale(100%) brightness(75%);
	filter: grayscale(100%) brightness(75%);
}
