:root {
	--dark-border: 1px solid #17191d;
	--grey-border: 1px solid #202225;
	--black-border: 1px solid black;

	--micro-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.4);
	--small-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	--big-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);

	--bg-color-normal: #36393f;
	--bg-color-light: #484b51;
	--bg-color-gray: #3b3e43;
	--bg-color-dark: #17191d;
	--bg-color-ctl: #202225;
	--bg-color-hovered: #1a1c1f;
	--bg-color-selected: #171717;
	--bg-color-progress: #171717;

	--fg-color-normal: #c3c3c3;
	--fg-color-dark: #aaaaaa;
	--fg-color-intensive: white;
	--fg-color-inactive: #6c7481;
	--fg-color-selected: #6c7481;
	--fg-color-progress: #436a8a;

	--bg-color-stream-screen: black;
}

body {
	margin: 0;
	overflow: hidden;
	color: var(--fg-color-normal);
	background-color: var(--bg-color-normal);
	font-family: sans-serif !important;
}
img#logo {
	-webkit-filter: invert(0.7);
	-moz-filter: invert(0.7);
	filter: invert(0.7);
	vertical-align: middle;
	padding: 13px 15px;
}

ul#ctl {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	box-shadow: var(--small-shadow);
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color-ctl);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
ul#ctl li.ctl-logo {
	float: left;
}
ul#ctl li.ctl-right-actions {
	float: right;
}
ul#ctl img {
	vertical-align: middle;
	margin-right: 10px;
	height: 20px;
}
ul#ctl li a.ctl-item {
	cursor: pointer;
	border-left: var(--black-border);
	display: inline-block;
	color: var(--fg-color-normal);
	padding: 15px 16px;
	text-decoration: none;
	height: 20px;
}
ul#ctl li a.ctl-item:hover:not(.active) {
	background-color: var(--bg-color-hovered);
}
div.ctl-dropdown-content {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
	white-space: nowrap;
	border: var(--dark-border);
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	position: absolute;
	background-color: var(--bg-color-ctl);
	min-width: 180px;
	box-shadow: var(--big-shadow);
	z-index: 9;
}
div.ctl-dropdown-content div.buttons-row {
	margin: 0;
	padding: 0;
	font-size: 0;
}
div.ctl-dropdown-content button {
	box-shadow: none;
	border: none;
	color: var(--fg-color-normal);
	background-color: var(--bg-color-normal);
	display: block;
	width: 100%;
	height: 30px;
	font-size: 16px;
	text-align: left;
	padding: 0 15px;
	outline: none;
	cursor: pointer;
}
div.ctl-dropdown-content button:enabled:hover {
	color: var(--fg-color-intensive);
	background-color: var(--bg-color-dark) !important;
}
div.ctl-dropdown-content button:disabled {
	color: var(--fg-color-inactive);
	cursor: default;
}
div.ctl-dropdown-content button:active {
	color: var(--fg-color-selected) !important;
}
div.ctl-dropdown-content button.row50 {
	display: inline-block;
	width: 50%;
}
div.ctl-dropdown-content button.row25 {
	display: inline-block;
	width: 25%;
}
div.ctl-dropdown-content button.row50:not(:first-child), button.row25:not(:first-child) {
	border-left: var(--dark-border);
}
div.ctl-dropdown-content hr {
	margin: 0;
	display: block;
	height: 1px;
	border: 0;
	padding: 0;
	background-color: var(--bg-color-dark);
}
div.ctl-dropdown-content-text {
	margin: 10px 15px 10px 15px;
	font-size: 14px;
}

ul#footer {
	list-style-type: none;
	bottom: 0;
	position: fixed;
	width: 100%;
	padding: 0;
	font-size: 0.7em;
	color: var(--fg-color-inactive);
	z-index: -10;
}
ul#footer li {
	padding: 0 10px;
}
ul#footer li.footer-left {
	float: left;
}
ul#footer li.footer-right {
	float: right;
}
ul#footer li a {
	text-decoration: underline dotted;
	color: var(--fg-color-inactive);
}
ul#footer li a:hover {
	text-decoration: underline;
	color: var(--fg-color-inactive);
}
