div.modal {
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2147483647;
}

div.modal div.modal-window {
	display: table;
	outline: none;
	margin: 15% auto;
	overflow: hidden;
	border: var(--border-window-thin);
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: var(--shadow-big);
	background-color: var(--cs-window-default-bg);
	padding: 0;
}
div.modal div.modal-window-active {
	border: var(--border-intensive-2px) !important;
}

div.modal div.modal-window div.modal-header {
	text-align: center;
	font-weight: bold;
	padding: 3px 9px 3px 9px;
	border-bottom: var(--border-default-thin);
}

div.modal div.modal-window div.modal-content {
	max-width: 500px;
	max-height: 500px;
	padding: 16px 9px 16px 9px;
}

div.modal div.modal-window div.modal-buttons {
	border-top: var(--border-control-thin);
	margin: 0;
	padding: 0;
	font-size: 0;
}

div.modal div.modal-window div.modal-buttons button {
	border-radius: 0;
	height: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	/* iPad vertical */
	div.modal-buttons button {
		height: 50px !important;
	}
}
