div.progress {
	background-color: var(--cs-progress-default-bg);
	height: 1.5em;
	width: 100%;
	position: relative;
}

div.progress:before {
	color: var(--cs-progress-default-fg);
	content: attr(data-label);
	font-size: 0.8em;
	position: absolute;
	text-align: center;
	top: 4px;
	left: 0;
	right: 0;
}

div.progress span.progress-value {
	background-color: var(--cs-progress-bar-bg);
	display: inline-block;
	height: 100%;
}
