extends start.pug


append vars
	- title = "One-KVM Index"
	- main_js = "index/main"
	- css_list.push("window", "modal", "index/index")

block start
	table
		tr
			td.logo
				a(href="https://pikvm.org" target="_blank")
					img.svg-gray(src=`${svg_dir}/logo.svg` alt="PiKVM" height="40")
			td
				table
					tr #[td.title(colspan="2" i18n="index_title") The Open Source KVM over IP]
					tr
						td.copyright(colspan="2" i18n="copyright")
							| Copyright &copy; 2018-2025 Maxim Devaev | Modified by SilentWind
	
	hr
	table
		td(class="server")
			td(i18n="serve_name") Name:
			td #[a#kvmd-meta-server-host(target="_blank" href=`${root_prefix}api/info`)]
	hr
	#apps-box
		h4 Loading ...

	#app-keyboard-warning
		hr
		p.text(i18n="keyboard_limitation_note")
			| Please note that when you are working with a KVM session or another application that captures the keyboard,
			| you can't use some keyboard shortcuts such as Ctrl+Alt+Del (which will be caught by your OS) or Ctrl+W (caught by your browser).
		p.text(i18n="browser_solution_note")
			| To override this limitation you can use #[a(target="_blank" href="https://google.com/chrome") Google Chrome]
			| or #[a(target="_blank" href="https://chromium.org/Home") Chromium] in application mode.
		.code#app-text.hidden

	hr
	p.text.credits
		a(target="_blank" href="https://github.com/mofeng-git/One-KVM" i18n="onekvm_project_link") One-KVM Project
		| &nbsp; | &nbsp;
		a(target="_blank" href="https://one-kvm.mofeng.run" i18n="onekvm_documentation_link") One-KVM Documentation